.division{
    margin: 2rem ,2rem,2rem,2rem;


}

form{
padding-left: 4rem;
padding-top: 1.5rem;
  width: 80%;
  border: 4px solid blue;
  border-radius: 4rem;
 padding-right: 2rem;
 margin-bottom: 4rem;
}


.form-div{
  margin-left: 10rem;
margin-top: 3rem;
margin-right: 4rem;
margin-bottom: 4rem;

}