
.about-btn{
     background: linear-gradient(-135,blue,red);
}


/* about p tag */
.a-p{
     margin-top: 2rem;
     letter-spacing: 1px;
}

.h-ser{
  position: relative;
  margin-left: 3px;
  animation: myServ 1s;
  animation-iteration-count: infinite;

}

@keyframes myServ {
  from {top: 0px;}
  to {top: 10px;}
}



.service-div {
  background: white;
  position: relative;
  animation: mymove 1s;
  animation-iteration-count: infinite;
}



@keyframes mymove {
  from {top: 0px;}
  to {top: 30px;}
}

.service-div2 {
  background: white;
  position: relative;
  animation: mymove-bottom 1s;
  animation-iteration-count: infinite;
}


@keyframes mymove-bottom {
  from {bottom: 0px;}
  to {bottom: 50px;}
}
.service-div1 {
  background: white;
  position: relative;
  animation: mymove1 1s;
  animation-iteration-count: infinite;
}

@keyframes mymove1 {
  from {left: 0px;}
  to {right: 20px;}
}


.service-div{
   
border: 3px ;
border-radius: 5px;
border-width: 1px;
}

.about-heading{
font-size: xx-large;
font-weight: bolder;
counter-reset: white;
font-family:  Geneva, Tahoma, sans-serif;
color: rgb(21, 21, 90);
text-align: center;
   letter-spacing: 2px;  
}

.footer-heading{
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: bolder;
    font-family:  Geneva, Tahoma, sans-serif;
    color: white;
}

.footer-p{
    font-size: small;
    font-weight: normal;
    font-family: sans-serif;
    color: rgb(235, 228, 228);
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}


nav{
	display:flex;
	justify-content: space-between;
	
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: calibri;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 10px;
	background-color:#6176af;
	box-shadow:2px 2px 12px rgba(124, 123, 123, 0.05); 
	z-index: 1;

  overflow-y: visible;
 
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



/* The justify-content property is used to align the flex items: */
.flex-container {
    display: flex;
    justify-content: center;
  }

menu{
	display: flex;
}
.menu li a{
	padding: 10px 15px;
	color:#6c707c;
	font-size: 12px;
	
}

.toggle{
	display: none;
}
.active a,
.menu li a:hover{
	background-color:#a69dfa;
	color:#FFF!important;
	font-weight: bold;
	transition: all ease 0.4s;
}


body {
 
    padding-bottom: 3rem;
   
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
/* 
about styling */

.about,.about-hover-light-grey:hover,.about-light-gray,.about-hover-light-gray:hover
{
    color:#000!important;
    background-color:#f1f1f1!important
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
   
  }

  .about-container {
    position: relative;
    width: 95%;
   
  }

  .about-div {
   
    padding-left: 3rem; 
    padding-top: 3rem;
     background-color: rgb(113, 121, 197);
     width: 100%;
   
  }


/* for divider */
  .featurette-divider {
    margin: 5rem 0;
    color: #1a1919;
    
}

/* Solid border */
hr.solid {
    border-top: 3px solid black;
    border-radius: 5px;
  }






/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    color: rgb(17, 9, 9);
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


  .center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    
  }
